
* {
  margin: 0;
  padding: 0;
}
body {
	background: #68D5FD;
}
#content{
	height: 86% !important;
}
#header {
  border-bottom-style: solid;
}
h1 {
  display: block;
  float: left;
	margin: 0;
	padding: 0;
}
#loginbox {
  border-style: none;
  border-width: 1px;
	float: right;
  position: fixed;
	top: 0;
	right: 0;
	display: inline;
	padding: none;
}
#sidebar {
  float: left;
  border-right-style: solid;
  display: block;
  padding-right: 0px;
  width: 10%;
  border-right-width: thin;
	list-style-type: box;
}

#src {
	float: left;
	padding-right: 0px;
	width: 44%;
	position: relative;
	height: 100%;
}

#docs {
	float: right;
	padding-left: 0px;
	position: relative;
	height: 100%;
	width: 44%
}

ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 0;
}

#main {
  display: block;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  width: 84%;
  float: left;
  padding-left: 1%;
}
li.listeven {
  color: black;
  background-color: #00cccc;
  list-style-type: none;
	border-bottom-style: solid;
	border-bottom-width: thin;
}
li.listodd {
  color: #343434;
  background-color: #9999ff;
  border-bottom-style: solid;
  border-bottom-width: thin;
  list-style-type: none;
}
ul.sub {
	list-style-type: none;
	border-style: solid;
	border-width: 1px;
}

td {
  vertical-align: top;
}

textarea.src {
	overflow: visible;
	width: 100%;
	height: 86%;
	

}

iframe.sourcecode {
  overflow: visible; 
	width: 100%;
	height: 86%;
	clear: both;
}
iframe.docs {
	float: right;
	overflow: visible;
	width: 100%;
	height: 100%;
	clear: both;
}
a {
  color: #6600cc;
  text-decoration: none;
}
a:hover {
  color: #3333ff;
  text-decoration: underline;
}

