<%inherit file="/base.mako"/>
<%namespace file="functions.mako" import="rowodd,roweven"/>


<div id="main">
<h3>Admin Control Panel</h3>
${h.tags.form(h.url(controller='admin',action='search'))}
Find Student:
${h.tags.text("derp")}
${h.tags.submit('Search','Search')}
${h.tags.end_form()}
${h.tools.button_to('Create User',h.url(controller='admin',action='create'))}
${h.tags.form(h.url(controller='admin',action='search'))}
${h.tags.hidden('derp')}
${h.tags.submit('Display All Users','Display All Users')}
${h.tags.end_form()}

</div>


