<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>AODCS</title>



<link rel="stylesheet" href="/styles/style.css" type="text/css">

</head>

<body>
<div id="header">
<%include file="header.mako"/>
<br>
</div>



<br>
</div>
${next.body()}\
</body>
</html>
