<h1>AODCS</h1><h3>${c.role}</h3>
<div id="loginbox">
<%include file="loginbox.mako"/>
</div>
<br>
<% messages = h.flash.pop_messages() %>
% if messages:
<ul id="flash-messages">
  % for message in messages:
   <li>${message}</li>
  % endfor
</ul>
% endif

