<%inherit file='/base.mako'/>
<div id="main">
<form method="post" action="save" name="Options">
  <h2>Settings</h2>
  <br>
  <table>
    <tbody>
      <tr>
        <td>Name:</td>
        <td><input name="Name"></td>
      </tr>
      <tr>
        <td>Bio:</td>
        <td><textarea cols="50" rows="8" name="Bio"></textarea></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Portfolio URL:<br>
        </td>
        <td style="vertical-align: top;">http://www.thorshammer.com/<input name="URL" value="siggins"><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Custom Stylesheet:<br>
        </td>
        <td style="vertical-align: top;"><input name="CSS" type="file"><br>
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input name="pass1" type="password"></td>
      </tr>
      <tr>
        <td>Confirm Password:</td>
        <td><input name="pass2" type="password"></td>
      </tr>
    </tbody>
  </table>
  <input value="Save" name="Save" type="submit">
</form>
</div>


