<%inherit file='/base.mako'/>
<div id="main">
${h.tags.form("/project/recieve/"+c.projectid,multipart=True)}
  <h2>Upload for ${c.project}</h2>
  <br>
	${h.tags.file('src')}

	${h.tags.file('doc')}
	${h.tags.hidden('projectid',value=c.projectid)}
	<br>
	${h.tags.submit('Files Away!','submit')}
${h.tags.end_form()}
</div>


