<%inherit file="/base.mako"/>
<%namespace file="functions.mako" import="rowodd,roweven"/>

<div id="sidebar"><strong>
Courses:</strong>
<ul>
  <li>
	<a href="course.html">CSCI-3400-001</a>
  </li>
  <li>
	<a href="course.html">CSCI-3400-002</a>
  </li>
  <li>
	<a href="course.html">CSCI-3400-003</a>
  </li>
  <li>
	<a href="course.html"> CSCI-5250-001</a>
  </li>
</ul>
</div>

<div id="main">
<form method="post" action="facultyindex" name="Options"><br>
  <div id="controls"> <button>Archive </button><button>Grade </button><button>Delete
  </button></div>
  <ul>
		
		<li class="listodd"><input type="checkbox"><a href="split.html">Group 1</a></li>
		<li class="listeven"><input type="checkbox"><a href="split.html">Group 2</a></li>
		<li class="listodd"><input type="checkbox"><a href="split.html">Group 3</a></li>
		<li class="listeven"><input type="checkbox"><a href="split.html">Group 4</a></li>
		<li class="listodd"><input type="checkbox"><a href="split.html">Group 5</a></li>
		<li class="listeven"><input type="checkbox"><a href="split.html">Group 6</a></li>
  </ul>
</form>
</div>


